
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  About · Sanish
</title>
<link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather:300,700%7CSource+Code+Pro:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/darktheme.css">
<link rel="icon" type="image/png" href="../static/image/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="../static/image/favicon-16x16.png" sizes="16x16">
</head>
<body class="colorscheme-dark" onload>
<main class="wrapper">
<nav class="navigation">
<section class="container">
<a class="navigation-title" href="https://sanishrestha.com.np/">
Sanish Shrestha
</a>
<span id="dark-mode-toggle" class="float-right">
<i class="fas fa-adjust fa-fw"></i>
</span>
<input type="checkbox" id="menu-toggle" />
<label class="menu-button float-right" for="menu-toggle">
<i class="fas fa-bars fa-fw"></i>
</label>
<ul class="navigation-list">
<li class="navigation-item">
<a class="navigation-link" href="about.html">About</a>
</li>
<!-- <li class="navigation-item">
<a class="navigation-link" href="project.html">Projects</a>
</li> -->
<li class="navigation-item separator">
<span>|</span>
</li>
</ul>
</section>
</nav>
<div class="content">
<section class="container page">
<article>
<header>
<h1>About</h1>
</header>
<p><strong>Short summary:</strong></p>
<p>My name is Sanish Shrestha. I kinda know how to code😎</p>
<p><strong>About my interest shortly:</strong></p>
<p>I am passionate about open-source software, scalable systems and code quality.</p>
<!-- <p><strong>Experience</strong></p>
<p>I have experience in freelancing, hardware and graphic design</p> -->
<p>My preferred programming languages nowadays is Python.</p>
</article>
</section>
</div>
<footer class="footer">
<section class="container">
Powered by <a href="https://github.com/sanish-alive/">ME</a>.
</section>
</footer>
</main>
<script src="../static/js/darktheme.js"></script>
</body>
</html>
